<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>Getting Started: Serving Web Content</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <p th:if="!${name}">This is my CV</p>
    <p th:if="${name}" th:text="'Hello, ' + ${name} + '!'" />
    <p th:if="${name}" th:text="${name} + ', I hope you interested to hire me.'"/>
    <h2>Name: Joseph Jovito</h2>
    <h2>Birthdate: 11/3/1999</h2>
    <h2>Birthplace: Jakarta</h2>
    <h2>Adress: Jakarta</h2>
    <br></br>
    <p>I am a student, interested in advance programming</p>
    <h3>2016-now (Faculty Of Computer Science, University of Indonesia)</h3>
    <br></br><br></br>
    <h4> Student at Faculty of Computer Science, University of Indonesia</h4>
</body>
</html>